/docs/superpowers/
/.superpowers/
!/docs/.gitkeep
/rom/*
!/rom/.gitkeep
/extracted image/*
!/extracted image/.gitkeep
/extracted fonts/*
!/extracted fonts/.gitkeep
/extracted rom/*
!/extracted rom/.gitkeep
/extracted text/*
!/extracted text/.gitkeep
!/translated text/.gitkeep
*/__pycache__
/.pytest_cache/
